<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header">
    <!-- 공통 -->
    <meta charset="UTF-8">
    <title>더조은 게임즈</title> <!--  ckeditor  -->
    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.0/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/modal.css">
    <script defer src="/js/admin.js"></script>
</head>
<body>
<div th:fragment="admin" class="admincontainer">
    <nav th:fragment="adminnave" class="adminnav">
        <header>
            <h3><a href="/admin">더조은 게임즈</a></h3>
        </header>
        <div class="adminmenu">
            <button id="user" th:style="${user.userRole.toString() != 'ROLE_ADMIN'}? 'display:none' : null" onclick="valueList('userList')">유저관리</button>
            <button id="game" onclick="valueList('gameList')">게임관리</button>
            <button id="qna" onclick="valueList('qnaList')">문의관리</button>
            <button id="refund" onclick="valueList('refundList')">환불관리</button>
            <button id="review" onclick="valueList('reviewList')">리뷰관리</button>
            <a href="/">홈으로</a>
        </div>
    </nav>
    <main class="adminmain">
<!--        <div class="refundcontainer">-->
<!--            <h1>환불 관리 리스트</h1>-->
<!--            <div class="refundtable">-->
<!--                <table class="refundlist">-->
<!--                    <tr>-->
<!--                        <th>번호</th>-->
<!--                        <th>결제명</th>-->
<!--                        <th>환불사유</th>-->
<!--                        <th>환불신청날짜</th>-->
<!--                        <th>환불여부</th>-->
<!--                        <th>환불버튼</th>-->
<!--                    </tr>-->
<!--                    <tr th:each="list : ${refundList}">-->
<!--                        <td>-->
<!--                            <p th:text="${list.refundId}">123</p>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <p>-->
<!--                                <th:block th:each="payment : ${list.paymentList}">-->
<!--                                    <th:block th:text="${payment.gameName}"></th:block>-->
<!--                                </th:block>-->
<!--                            </p>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <p th:text="${list.refundReason}">122</p>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <p th:text="${list.refundAplctdate}">123</p>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <p th:text="${list.refundWhether}"></p>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <button th:data-value="${list.refundId}" onclick="refundCheck('환불 처리 하시겠습니까?','paymentDelete',this)">환불</button>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="usercontainer">-->
<!--            <h1>유저 관리 리스트</h1>-->
<!--            <form action="/admin" method="post" >-->
<!--                <div class="userButton">-->
<!--                    <input type="button" onclick="refundCheck('유저를 수정 하시겠습니까?','userupdate')" value="수정하기" />-->
<!--                </div>-->
<!--                <table class="userList">-->
<!--                    <tr>-->
<!--                        <th>번호</th>-->
<!--                        <th>이메일</th>-->
<!--                        <th>닉네임</th>-->
<!--                        <th>직책</th>-->
<!--                        <th>전화번호</th>-->
<!--                        <th>삭제</th>-->
<!--                    </tr>-->
<!--                    <tr th:each="list : ${userList}">-->
<!--                        <td>-->
<!--                            <p class="userid" th:text="${list.id}">123</p>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <p th:text="${list.username}">123</p>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <p th:text="${list.userNickname}">123</p>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <select name="roleselect" id="roleselect" th:data-id="${list.id}" >-->
<!--                                <option value="MANAGER" th:selected="${list.userRole.toString()} == 'ROLE_MANAGER'">매니저</option>-->
<!--                                <option value="USER" th:selected="${list.userRole.toString()} == 'ROLE_USER'" >유저</option>-->
<!--                            </select>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <p th:text="${list.userPhone}">123</p>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <input type="button" th:data-value="${list.id}" onclick="refundCheck('유저를 삭제 하시겠습니까?','userdelete',this)" value="삭제">-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--            </form>-->
<!--        </div>-->
<!--        <div class="qnacontainer">-->
<!--            <h1>문의 관리 리스트</h1>-->
<!--            <div class="qnatable">-->
<!--                <table class="qnalist">-->
<!--                    <tr>-->
<!--                        <th>번호</th>-->
<!--                        <th>닉네임</th>-->
<!--                        <th>문의제목</th>-->
<!--                        <th>답변여부</th>-->
<!--                        <th>답변자</th>-->
<!--                    </tr>-->
<!--                    <th:block th:each="list : ${qnaList}">-->
<!--                    <tr class="qnatitle" th:data-id="${list.qnaId}">-->
<!--                        <td>-->
<!--                            <p th:text="${list.qnaId}">123</p>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <p th:text="${list.users.userNickname}">132</p>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <a th:text="${list.qnaTitle}">122</a>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <p th:text="${list.qnaIsAnswered}">123</p>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <p th:text="${list.qnaRespondent}">123</p>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr class="qnatextarray" th:data-id="${list.qnaId}">-->
<!--                        <td id="qnausercontent" colspan="5">-->
<!--                            <div class="qancontnetarray">-->
<!--                                <span th:text="${list.qnaContent}">해당내용은 문의 내용입니다.</span>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr class="qnatextarray" th:data-id="${list.qnaId}">-->
<!--                        <td colspan="5">-->
<!--                            <div class="qnatext">-->
<!--                                <label>답변 : </label>-->
<!--                                <textarea-->
<!--                                        th:if="${!list.qnaIsAnswered}"-->
<!--                                        name="qnaAnwerContent"-->
<!--                                        id="qnaAnwerContent"-->
<!--                                        th:data-id="${list.qnaId}"-->
<!--                                        cols="50"-->
<!--                                        rows="10"-->
<!--                                ></textarea>-->
<!--                                <textarea th:unless="${!list.qnaIsAnswered}"-->
<!--                                          name="qnaAnwerContent"-->
<!--                                          th:data-id="${list.qnaId}"-->
<!--                                          cols="50"-->
<!--                                          rows="10"-->
<!--                                          th:text="${list.qnaAnwerContent}"-->
<!--                                          disabled>-->
<!--                                </textarea>-->
<!--                                <div class="button-qna">-->
<!--                                    <button th:if="${!list.qnaIsAnswered}" class="btn-qna-text" th:data-value="${list.qnaId}" onclick="refundCheck('답변을하겠습니까?','qnaupdate',this)">올리기</button>-->
<!--                                    <button th:unless="${!list.qnaIsAnswered}" class="btn-qna-text" th:data-value="${list.qnaId}" onclick="return false">올리기</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    </th:block>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="gamecontainer">-->
<!--            <h1>게임 관리 리스트</h1>-->
<!--            <div class="gameButton">-->
<!--                <input type="button" onclick="location.href='/admin/gameForm'" value="추가하기" />-->
<!--            </div>-->
<!--            <table class="gameList">-->
<!--                <tr>-->
<!--                    <th>번호</th>-->
<!--                    <th>이름</th>-->
<!--                    <th>개발자사</th>-->
<!--                    <th>가격</th>-->
<!--                    <th>발매일</th>-->
<!--                    <th>장르</th>-->
<!--                    <th>수량</th>-->
<!--                    <th>삭제</th>-->
<!--                </tr>-->
<!--                <tr th:each="list : ${gameList}">-->
<!--                    <td>-->
<!--                        <p th:text="${list.steamAppid}">1</p>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <a th:href="@{/admin/gameUpdateForm(id=${list.steamAppid})}" th:text="${list.name}">그러게 무슨게임이지?</a>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <p th:text="${list.developers}">뭐였더라</p>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <p th:text="${list.getFormattedPrice()}">40000원</p>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <p th:text="${list.releaseDate}">2023-01-01</p>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <p th:text="${list.genres}">액션</p>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <p th:text="${list.stock}"></p>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <button class="btn delete" th:data-value="${list.steamAppid}" onclick="refundCheck('게임을 삭제 하시겠습니까?','gamedelete',this)">삭제</button>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
<!--        <div class="reviewcontainer">-->
<!--            <h1>신고리뷰 관리 리스트</h1>-->
<!--            <table class="reviewList">-->
<!--                <tr>-->
<!--                    <th>번호</th>-->
<!--                    <th>게임이름</th>-->
<!--                    <th>이름</th>-->
<!--                    <th>내용</th>-->
<!--                    <th>날짜</th>-->
<!--                    <th>좋아요수</th>-->
<!--                    <th>삭제</th>-->
<!--                </tr>-->
<!--                <tr th:each="list : ${reviewsList}">-->
<!--                    <td id="number">-->
<!--                        <p th:text="${list.reviewId}">1</p>-->
<!--                    </td>-->
<!--                    <td id="gamename">-->
<!--                        <p th:text="${list.game.name}">그러게 무슨게임이지?</p>-->
<!--                    </td>-->
<!--                    <td id="username">-->
<!--                        <p th:text="${list.users.userNickname}">뭐였더라</p>-->
<!--                    </td>-->
<!--                    <td id="subject">-->
<!--                        <p th:text="${list.reviewId}">40000원</p>-->
<!--                    </td>-->
<!--                    <td id="date">-->
<!--                        <p th:text="${list.regDate}">2023-01-01</p>-->
<!--                    </td>-->
<!--                    <td id="count">-->
<!--                        <p th:text="${list.voteCnt}">액션</p>-->
<!--                    </td>-->
<!--                    <td id="삭제">-->
<!--                        <a class="btn delete" th:data-value="${list.reviewId}" onclick="refundCheck('리뷰을 삭제 하시겠습니까?','reviewdelete',this)">삭제</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
    </main>
</div>
<div th:fragment="modal" class="modal">
    <div class="main">
        <p class="subject">환불을 하겠습니까?</p>
        <div class="btn-list">
            <button onclick="valuesAccept()">확인</button>
            <button onclick="valuesCancel()">취소</button>
        </div>
    </div>
</div>
</body>
</html>