<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(links)">
    <!-- 공통 -->
    <meta charset="UTF-8">
    <title>더조은 게임즈</title>
    <!-- header css-->
    <link rel="stylesheet" href="/css/header.css">
    <!-- iamport-->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <!-- jquery   -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- font-awesome   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- 추가 -->

    <th:block th:replace="${links}"/>
</head>
<style th:fragment="bodyinit">
    body{
        background-color: #1b2838;
        left: 0;
        margin: 0;
        z-index: 99;
        height: 100vh;
        display: flex;
        justify-content: center;
    }
</style>
<body>
<header th:fragment="header" id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="logo">
                <div class="logo-img">
                    <a href="/" title="더좋은게임즈">
                        더조은 게임즈
                    </a>
                </div>
            </div>
            <div class="search">
                <form class="serach-form" id="header-search" method="get" action="">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" id="searchValue" name="searchvalue" class="form-controller">
                            <button class="btn-search">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="head-users">
                <div class="head-joinlogin">
                    <a class="head-login" href="/users/loginForm">로그인</a>
                    <a class="head-join" href="/users/joinForm">회원가입</a>
                </div>
                <div class="head-cart">
                    <a href="" class="btn-cart" id="head-cart-dropdown">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<nav th:fragment="nav" id="nav" class="nav">
    <div class="container">
        <div class="navbar">
            <div class="megamenu">
                <ul class="navbar-nav">
                    <li>
                        <a href="#">게임</a>
                    </li>
                    <li>
                        <a href="#">프로모션</a>
                    </li>
                    <li>
                        <a href="/notice">공지사항</a>
                    </li>
                    <li>
                        <a href="#">고객센터</a>
                    </li>
                    <li>
                        <a href="#" title="개발중입니다.">타임딜</a>
                    </li>
                    <li>
                        <a href="#" title="개발중입니다.">이벤트</a>
                    </li>
                    <li>
                        <a href="#" title="개발중입니다.">이용안내</a>
                    </li>
                    <li>
                        <a href="#" title="개발중입니다.">더좋은 게임즈 소개</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-sns">
                <div>
                    <button type="button" class="btn-facebook-link">
                        <i class="fa fa-facebook"></i> 페이스북
                    </button>
                </div>
                <div>
                    <button type="button" class="btn-youtube-link">
                        <i class="fa fa-youtube-play"></i> 유투브
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>