<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main th:fragment="paymain" class="maindbody">
    <div class="container">
        <div class="row">
            <div class="system-message-container"></div>
            <div id="cart-view" class="cart-view">
                <div class="vm-cart-header-container">
                    <p>주문하기</p>
                    <p>주문하기</p>
                </div>
                <div class="docs-section">
                    <p class="text_msg">
                        <strong
                        >※ 주문 금액 3,000원 이상, 보유한 포인트가 1,000원 이상 시
                            100원 단위로 사용이 가능합니다.
                        </strong>
                    </p>
                    <p class="text_msg">
                        <strong
                        >※ 더좋은 게임즈에서는 활성화(수신)되지 않은 제품 코드(키)에
                            한하여 구입 후 7일 이내에 주문 취소가 가능합니다.</strong
                        >
                    </p>
                </div>
                <div id="orderFrm">
                    <div class="vm-fieldset-pricelist">
                        <table class="cart-summary">
                            <tbody>
                            <tr>
                                <th
                                        class="vm-cart-item-image text-center"
                                        style="width: 150px"
                                >
                                    이미지
                                </th>
                                <th class="vm-cart-item-name text-center">상품명</th>
                                <th class="vm-cart-item-basicprice">가격</th>
                                <th
                                        class="vm-cart-item-coupon"
                                        style="width: 100px; text-align: center"
                                >
                                    할인
                                </th>
                                <th class="vm-cart-item-total">합계</th>
                            </tr>
                            <tr th:each="list ,listStat: ${orderList}">
                                <td>
                                    <img    th:if="${list.platform eq 'steam'}"
                                            th:alt="${list.name}"
                                            th:src="'https://cdn.akamai.steamstatic.com/steam/apps' + ${list.getImg()}"
                                            width="144"
                                            height="81"
                                            style="width: 144px"
                                    />
                                    <img    th:unless="${list.platform eq 'steam'}"
                                            th:alt="${list.name}"
                                            th:src="${list.getImg()}"
                                            width="144"
                                            height="81"
                                            style="width: 144px"
                                    />
                                </td>
                                <td class="text-center"><p th:text="${list.name}"></p></td>
                                <td class="vm-cart-item-quantity" ><p th:text="${list.priceview}+원"></p></td>
                                <td class="vm-cart-item-discount" ><p th:text="${list.dispriceview}+원"></p></td>
                                <td class="vm-cart-item-total" ><p th:text="${list.totalview}+원"></p></td>
                                    <input type="hidden" id="gameId" name="gameId" th:value="${list.gameId}">
                                    <input type="hidden" id="cartId" name="cartId" th:value="${list.cartId}">
                                    <input type="hidden" id="price" name="price" th:value="${list.price}">
                                    <input type="hidden" id="total" name="total" th:value="${list.total}">
                                    <input th:if="${listStat.last}" type="hidden" id="ordername" name="ordername" th:value="${listStat.index ge 1}? ${list.name+'외'+listStat.index} : ${list.name}">
                                    <input th:if="${listStat.last}" type="hidden" id="listtotal" name="listtotal" th:value="${listTotal}">
                                    <input th:if="${listStat.last}" type="hidden" id="index" name="index" th:value="${listStat.index}">
                                    <input th:if="${listStat.last}" type="hidden" id="username" name="username" th:value="${username}">
                            </tr>
                            <tr class="sectiontableentry1">
                                <td colspan="2" align="left">합계</td>
                                <td align="right" th:text="${listGamePriceView}+원">10000</td>
                                <td align="right" th:text="${listDisPriceView}+원">0</td>
                                <td align="right" th:text="${listTotalView}+원">10000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="paymentcontainer">
                        <div class="paymethod">
                            <span class="cart-customer-note"> 결제수단 </span>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="settlekind"
                                                    id="settlekind2"
                                                    value="card"
                                            />
                                            신용/체크카드 결제
                                        </label>
<!--                                        <label>-->
<!--                                            <input-->
<!--                                                    type="radio"-->
<!--                                                    name="settlekind"-->
<!--                                                    id="settlekind3"-->
<!--                                                    value="kakao"-->
<!--                                            />-->
<!--                                            카카오페이-->
<!--                                        </label>-->
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="payment">
                            <div class="paymentfinal">
                                <span>최종결제 정보</span>
                                <div class="finalsprice">
                                    <p>상품금액</p>
                                    <p th:text="${listGamePriceView}+원">1000원</p>
                                </div>
                                <div class="finalsprice">
                                    <p>할은금액</p>
                                    <p th:text="${listDisPriceView}+원">1000원</p>
                                </div>
                                <div class="finalsprice">
                                    <p>결제예정액</p>
                                    <p th:text="${listTotalView}+원">1000원</p>
                                </div>
                            </div>
                            <button type="button" class="btn-payment" id="btn-payment" onclick="requestPay(form)">
                                결제하기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>