<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/admin :: common_header}">
    <meta charset="UTF-8">
    <title>더조은 게임즈</title>
</head>
<body>
<div th:replace="~{fragment/admin :: admin}">

</div>
<div class="modal">
    <div class="main">
        <p class="subject">환불을 하겠습니까?</p>
        <div class="btn-list">
            <button onclick="refundAccept()">확인</button>
            <button onclick="refundCancel()">취소</button>
        </div>
    </div>
</div>
<div class="overlay"></div>
</body>
</html>