/* 메인 광고 컨테이너*/

.pro-Container-back{
    /*background-color: blueviolet;*/
    margin-top: 20px;
}
.main-background .container{

    margin:  0 auto;
}
.promotion.container{
    display: flex;
    height: 400px;
    width: 1152px;
}
.main-promotions{
    position: relative;
    width: 850px;
    height: 400px;
}
.header-images{
    visibility: hidden;
}
.header-images.show{
    visibility: visible;
}
.main-promotions .header-images div img{
    width: 100%;
    height: 400px;
}
.fa-chevron-right,
.fa-chevron-left{
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    z-index: 5;
    top: 48%;
}
.fa-chevron-left{
    left: 10px;
}
.fa-chevron-right{
    right: 10px;
}

.prev-left{
    margin-bottom: 64px;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    background-image: linear-gradient(to left,rgba(0,0,0,0.0001) 0%,rgba(0,0,0,0.5) 100%);
}
.prev-right{
    margin-bottom: 64px;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 15%;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    background-image: linear-gradient(to right,rgba(0,0,0,0.0001) 0%,rgba(0,0,0,0.5) 100%);
}

.prev-left:hover,
.prev-right:hover{
    opacity: 1;
}

.slick-dots {
    position: absolute;
    left: 48%;
    /* margin-left: -50px;  */
    /* width의 50% */
    /* margin-top: -50px; */
    /* height의 50% */
    bottom: -32%;
    list-style: none;
    transform: rotate(270deg);


    button {

        cursor: pointer;
        color: transparent;
        /* justify-items: center; */
        width: 10px;
        height: 10px;
        border: 2px solid white;
        background: transparent;
        border-radius: 50%;
        box-shadow:1px 1px 3px rgba(#0000, 0.6);
        ::before {
            display: none;
        }
    }
    .slick-active {
        button {
            background: white;
        }
    }
}



/* 배너 글자 */
.item-content {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    height: 64px;
    margin-top: -64px;
    display: block;
    z-index: 1000;
}
.article-title {
    background: none;
}
.article-title, .article-header h1 {
    margin: 0 0 10px 0;
    color: #ffffff;
    font-size: 16px;
}
.article-title a, .article-header h1 a {
    color: #ffffff;
    text-decoration: none;
}
.banner_label {
    display: inline-block;
    width: 120px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-size: 17px;
    height: 64px;
    line-height: 64px;
    background: rgb(58, 108, 151);
    background: -moz-linear-gradient(left, rgba(58, 108, 151, 1) 0%, rgba(113, 180, 209, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(58, 108, 151, 1) 0%, rgba(113, 180, 209, 1) 100%);
    background: linear-gradient(to right, rgba(58, 108, 151, 1) 0%, rgba(113, 180, 209, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a6c97', endColorstr='#71b4d1',GradientType=1 );
    text-align: center;
}
.banner_title {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    width: 500px;
    vertical-align: bottom;
    height: 64px;
    line-height: 64px;
    text-indent: 10px;
    overflow: hidden;
}

.banner_sale_percent {
    display: inline-block;
    z-index: 100000;
    width: 90px;
    text-align: right;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
    line-height: 64px;
    height: 64px;
    background: rgb(220, 104, 79);
    background: -moz-linear-gradient(left, rgba(220, 104, 79, 1) 0%, rgba(235, 156, 71, 1) 50%);
    background: -webkit-linear-gradient(left, rgba(220, 104, 79, 1) 0%, rgba(235, 156, 71, 1) 50%);
    background: linear-gradient(to right, rgba(220, 104, 79, 1) 0%, rgba(235, 156, 71, 1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc684f', endColorstr='#eb9c47',GradientType=1 );
}

.banner_sale_price {
    display: inline-block;
    width: 110px;
    text-align: right;
    vertical-align: bottom;
    font-size: 20px;
    margin: 0;
    padding: 0;
    height: 64px;
    line-height: 64px;
}

.t3-module {
    padding-left: 26px;
    height: 100%;
    background: transparent;
    color: inherit;
}
.t3-module .module-inner {
    padding: 0;
}
.t3-module.normal-module .module-title {
    margin-bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid #323e4c \9;
}

.module-title {
    background: transparent;
    color: white;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin: 0 0 10px 0;
    padding: 20px 32px 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #323e4c \9;
    text-transform: uppercase;
}
.module-title span {
    position: relative;
    display: inline-block;
}
.module-title span:before {
    content: "";
    border-top: 1px solid #67c1f5;
    box-shadow: 0 0 4px rgba(255,255,255,0.5);
    width: 100%;
    height: 0;
    position: absolute;
    top: -21px;
    left: 0;
}
element.style {
    padding-top: 4px;
}
.pull-right {
    float: right;
}
.pull-right {
    float: right !important;
}
.list-group {
    margin-bottom: 20px;
    padding-left: 0;
}
#Mod120 .list-group-item {
    letter-spacing: -1px;
}
.list-group-item:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

a.list-group-item {
    color: rgba(255, 255, 255, 0.5);
}
.list-group-item {
    font-size: 13px;
}
.list-group-item {
    height: 20px;width:240px;white-space:nowrap;text-overflow:ellipsis; overflow:hidden;white-space:nowrap;


    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.01);
}



