#myPage {
    color: #FFFFFF;
    width: 75%;
    margin: 0;
    padding: 25px;
}

#myPage h1 {
    text-align: left;
}

#myPage .menu {
    display: flex;
    width: 100%;
    padding: 0;
}

#myPage li {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 52px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#myPage li:hover {
    border-top: 2px solid;
}

#myPage .activated {
    border-top: 1px solid #67c1f5;
    border-bottom: 0;
}

#myPage li a {
    color: #fff !important;
}

#myPage .docs-section {
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    font-size: 14px;
}

#myPage .docs-section p {
    margin: 5px 5px 10px 25px;
    color: #ff9900;
}

#myPage form {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    color: #999999;
    width: 100%;
}

#myPage form tr {
    height: 50px;
}

#myPage th {
    text-align: left;
    color: white;
    width: 125px;
}


#myPage input,
select {
    padding: 5px;
    background: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 0;
    box-shadow: none;
    color: white;
}

#myPage option {
    color: black;
}

#myPage .input_section {
    width: 40%;
}

#myPage button {
    border-radius: 2px;
    font-weight: 700;
    background-color: #4fb7f3;
    border: 1px solid #4fb7f3;
    padding: 10px;
    color: white;
    cursor: pointer;
}

#myPage button:hover {
    color: black;
}

#myPage #resign_form {
    display: flex;
    flex-direction: column;
}

#myPage #resign_btn,
#realResignBtn {
    color: #ffffff;
    background: linear-gradient(#d9534f, #d43f3a);
    border: 1px solid #d43f3a;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.2) inset;
    cursor: pointer;
}

#myPage #resign_btn:hover {
    color: black;
}

#myPage #resignOverlay, #refundOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
    display: none;
}

#myPage #resignModal, #refundModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ecf0f1;
    padding: 20px;
    z-index: 1001;
    color: black;
    display: none;
    border-radius: 15px;
}

#myPage #orderListTable {
    width: 100%;
    text-align: center;
    border-spacing: 0;
    border: 0;
}

#myPage #orderListTable th {
    background-color: #FFFFFF0D;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    height: 40px;
}

#myPage #orderListTable td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 40px;
    color: #999999;
}

#myPage .content {
    width: 750px;
}

#myPage #temporary_blank_space {
    width: 100%;
    height: 500px;
}

#myPage #idForBottomMargin {
    width: 100%;
    height: 25px;
}

#wishlistForm table {
    width: 100%;
    border-spacing: 0;
    border: 0;
}

#wishlistForm th {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    height: 40px;
}

#wishlistForm td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
    height: 40px;
    text-align: center;
}

#wishlistForm #btn_division {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wishlistForm #btn_division button {
    margin: 5px;
}

#wishlistForm a {
    color: #999999;
}

#myPage #refundModal, #refundOverlay option {
    color: black;
}

#refundModal select {
    color: black;
}

#myPage #questionForm {
    width: 750px
}

#myPage #question_table {
    border-spacing: 0;
    border: 0;
}

#myPage #question_table th {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

#myPage #question_table td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
    text-align: center;
}

#myPage #refunded {
    color: springgreen;
    font-weight: bold;
}

#myPage #refundProgressing {
    color: red;
    font-weight: bold;
}

#myPage #refundRequestButton {
    font-weight: bold;
}

#myPage #orderListBottom {
    height: 10px;
}
