.blog-container{
    min-height: 550px;
    color: #ffffff;
    font-size: 14px;
    background-color: #212e3d;
    border: 1px solid #1b2838;
    margin-top: 20px;
    height: 100%;
}
.blog-featured{
    border: 1px solid #999999 ;
}

.blog-featured .notice-item{

}
.notice-item .header-item{
    padding-left: 20px;
    padding-top: 20px;
}
.header-item h1{
    margin: 0 0 10px 0;
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.42857143;
}
.notice-info{
    color: #999999;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    padding-left: 10px;
}
.info{
    margin-left: 10px;
}
.notice-main{
    padding: 30px;
    min-height: 550px;
    border-top: 1px solid #999999;
}
.notice-main p{
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #ffffff;
}
.notice-main img{
    width: 100%;
    height: 500px;
}
.notice-back{
    text-align: right;
    padding-bottom: 20px;
    padding-right: 20px;
}
.notice-back .btn{
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-color: #4fb7f3;
    color: #ffffff;
    background: linear-gradient(#67c1f5, #4fb7f3);
    border: 1px solid #4fb7f3;
    box-shadow: 0 0 1px rgba(255,255,255,0.2) inset;
    text-decoration: none;
    border-radius: 5px;
}