.loginFormContainer {
    padding: 0;
    margin: 0;
    width: 480px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.loginFormContainer #normalLoginDiv {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;
}

.loginFormContainer #userLoginForm * {
    width: 400px;
}

.loginFormContainer #userLoginForm input {
    height: 25px;
}

.loginFormContainer #normalLoginDiv button {
    width: 80%;
}

.loginFormContainer #normalLoginDiv input {
    background-color: rgba(255, 255, 255, 0.03);
    color: white;
    padding: 3px;
}

.loginFormContainer #userLoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.loginFormContainer #snsLoginDiv {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.loginFormContainer #normalLoginDiv button {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
    width: 418px;
    border: none;
}

.loginFormContainer #userLoginForm {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

.loginFormContainer #loginBtn {
    background-color: #4fb7f3;
    color: white;
}

.loginFormContainer #snsLoginDiv {
    align-items: center;
}

.loginFormContainer #snsLoginDiv .api_login_container {
    width: 418px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    margin: 5px;
    padding: 0;
    cursor: pointer;
    border: 0;
}

.loginFormContainer .snsImg {
    margin: 0;
    height: 100%;
}

.loginFormContainer #snsLoginDiv .api_login_container span {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

#google_container {
    display: flex;
    align-items: center;
}

#google_container img {
    height: 30px;
    margin-left: 8px;
    margin-right: 130px;
}

#naver_container {
    background-color: #03C75A;
    color: white;
    display: flex;
    align-items: center;
}

#naver_container img {
    margin-right: 115px;
}

#kakao_container {
    background-color: #FEE500;
    display: flex;
    align-items: center;
}

#kakao_container img {
    height: 35px;
    margin-left: 6px;
    margin-right: 119px;
}

.loginFormContainer #docs_section {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #b94a48;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.loginFormContainer #normalLoginTitleDiv {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
}

.loginFormContainer strong {
    font-size: 16px;
    margin-left: 35px;
}

.loginFormContainer #snsLoginTitleDiv {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
}

.loginFormContainer .star {
    color: #ffcc00;
}
