<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: common_header(~{::link})}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/noticeForm.css" />
</head>
<style th:replace="~{fragment/header :: bodyinit}">

</style>
<body>
<div style="width: 1200px">
    <header th:replace="~{fragment/header :: header}"></header>
    <nav th:replace="~{fragment/header :: nav}"></nav>
    <main th:replace="~{fragment/notice :: noticeForm}"></main>
</div>
</body>
</html>
<script defer src="/js/noticeForm.js"></script>