<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: common_header(~{::link})}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/noticeList.css" />
</head>
<style th:replace="~{fragment/header :: bodyinit}">

</style>
<body>
<div style="width: 1200px">
<header th:replace="~{fragment/header :: header}">
</header><nav th:replace="~{fragment/header :: nav}"></nav>
<div th:replace="~{fragment/notice :: noticeList}">
</div>
</div>
</body>
</html>