spring:
#  datasource:
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://3.35.10.93:3306/gamesale?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
#    username: root
#    password: 1234
#  datasource:
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://localhost:3306/gamesale?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
#    username: root
#    password: 1234
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${MYSQL_IP}:${MYSQL_PORT}/${MYSQL_DATABASE}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${MYSQL_USER}
    password: ${MYSQL_ROOT_PASSWORD}
  security:
    oauth2:
      client:
        registration:
          google: # /oauth2/authorization/google ? ??? ???? ??.
            client-id: 9785467763-l2ugbh0nh2veptl8c9obkn3oim8lr165.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: http://${MYAWS_IP}:8081/login/oauth2/code/google
#            redirect-uri: http://localhost:8081/login/oauth2/code/google
            scope:
              - email
              - profile
          naver:
            client-id: SrIGsH8XIxmfND4_eTEH
            client-secret: cLaNxs3Tr3
            scope:
              - email
              - name
              - nickname
              - mobile
            client-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: http://${MYAWS_IP}:8081/login/oauth2/code/naver
          kakao:
            client-id: 21ab5b4db87c2754b7ad5637ffdc7eb3
            client-secret: PoaJz5k0pCjIz3dGGB52gcX7Yq9eJD0n
            redirect-uri: http://${MYAWS_IP}:8081/login/oauth2/code/kakao
#            redirect-uri: http://localhost:8081/login/oauth2/code/kakao
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            client-name: Kakao
            scope:
              - profile_nickname
              - account_email
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response # ????? json? response ???? ????.
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id