<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: common_header(~{::link})}">
    <meta charset="UTF-8">
    <title>더조은게임즈-마이페이지</title>
    <link href="/css/myPage.css" rel="stylesheet"/>
</head>
<style th:replace="~{fragment/header :: bodyinit}"></style>
<body>
<div align="center">
    <header th:replace="~{fragment/header :: header}"></header>
    <nav th:replace="~{fragment/header :: nav}"></nav>

    <div id="myPage">
        <h1>마이페이지</h1>
        <ul class="menu">
            <li class="activated" onclick="location.href='/users/myPage'"><a><span>주문내역</span></a></li>
            <li onclick="location.href='/users/userQuestion'"><a><span>문의내역</span></a></li>
            <li onclick="location.href='/users/userWishlist'"><a><span>위시리스트</span></a></li>
            <li onclick="location.href='/users/userUpdate'"><a><span>정보수정</span></a></li>
            <li onclick="location.href='/users/userResign'"><a><span>회원탈퇴</span></a></li>
        </ul>
        <div class="docs-section" style="color:#FF9900;">
            <p><strong>※ 더조은 게임즈에서는 전자상거래법 및 개인정보처리방침에 의거 구매 후 5년 이상 지난 거래내역 정보는 특별한 사유가 없을 시 파기처리를 원칙으로 합니다. 따라서 최대
                5년간의
                주문 내역 및 제공 콘텐츠를 조회하실 수 있으며, 5년이 지난 주문 내역은 '고객지원 - 문의하기'를 통해 요청해주시기 바랍니다.</strong></p>
            <p><strong>※ [특전제공] 타이틀은 개발사/퍼블리셔 정책에 따라 출시 후 예고 없이 특전 지급이 중단될 수 있습니다.</strong></p>
            <p><strong>※ 주문 완료 후 가급적 빠른 시일 내에 제품 코드(키)를 활성화 하시고, 플랫폼에 등록해 주시기 바랍니다.</strong></p>
        </div>
        <form action="#" id="refundForm" method="post">
            <th:block th:each="list : ${list}">
                <table id="orderListTable">
                    <tr>
                        <th>결제번호</th>
                        <th>상품명</th>
                        <th>상품가격</th>
                        <th>결제금액</th>
                        <th>주문일자</th>
                        <th>게임코드</th>
                    </tr>
                    <tr th:each="game : ${list.paymentList}">
                        <td th:text="${game.paymentId}"></td>
                        <td th:text="${game.gameName}"></td>
                        <td th:text="${'￦ ' + game.gamePrice}"></td>
                        <td th:text="${'￦ ' + game.paymentPrice}"></td>
                        <td th:text="${game.paymenDate}"></td>
                        <td th:text="${game.gameCode}"></td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <div th:if="${list.paymentResult == '환불요청'}">
                                <button class="refund_btn" th:attr="paymentOrdernum=${list.ordernum}"
                                        type="button" id="refundRequestButton">환불요청</button>
                            </div>
                            <div th:if="${list.paymentResult == '환불처리완료'}">
                                <span id="refunded" th:text="${list.paymentResult}"></span>
                            </div>
                            <div th:if="${list.paymentResult == '환불처리중'}">
                                <span id="refundProgressing" th:text="${list.paymentResult}"></span>
                            </div>
                        </td>
                    </tr>
                </table>
                <div id="orderListBottom"></div>
            </th:block>
            <div id="refundOverlay"></div>
            <div id="refundModal">
                <h3>환불 사유를 선택해주세요.</h3>
                <label>
                    <select class="form-control" name="reason" required="">
                        <option value="">:::환불사유를 선택해 주세요:::</option>
                        <option value="1">게임이 실행되지 않습니다.</option>
                        <option value="2">사용자의 단순 변심</option>
                        <option value="3">결제 프로세스가 중복으로 이루어졌습니다.</option>
                        <option value="4">상품가격 불만</option>
                        <option value="5">개인 정보유출 우려</option>
                        <option value="6">쇼핑몰의 신뢰도 불만</option>
                        <option value="7">쇼핑 기능 불만</option>
                        <option value="8">기타</option>
                    </select>
                </label>
                <button id="realResignBtn" onclick="doRefundReal(form)" type="button">환불요청</button>
                <button onclick="hideModal()" type="button">취소하기</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>
<script defer src="/js/userOrderList.js" type="text/javascript"></script>
