<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: common_header(~{::link})}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/paymentForm.css" />
</head>
<style th:replace="~{fragment/header :: bodyinit}"></style>
<body>
<div>
    <header th:replace="~{fragment/header :: header}"></header>
    <nav th:replace="~{fragment/header :: nav}"></nav>
    <main th:replace="~{fragment/paymentForm :: paymain}">
    </main>
</div>
<div class="overlay"></div>
</body>
</html>
<script type="text/javascript" defer src="/js/payment.js"></script>