<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: common_header(~{::link})}">
    <meta charset="UTF-8">
    <title>더조은게임즈-회원가입</title>
    <link href="/css/userJoinForm.css" rel="stylesheet"/>
</head>
<style th:replace="~{fragment/header :: bodyinit}"></style>
<body>
<div align="center">
    <header th:replace="~{fragment/header :: header}"></header>
    <nav th:replace="~{fragment/header :: nav}"></nav>
    <form action="/users/join" id="userJoinForm" method="post">
        <fieldset>
            <legend><span>회원가입</span></legend>
            <table>
                <tr>
                    <th>이메일</th>
                    <td><label for="username"></label><input id="username" name="username" placeholder="이메일을 입력하세요."
                                                             required="required" type="email"/>
                        <button id="emailDuplicatedBtn" type="button">중복확인</button>
                        <label for="codeInput"></label><input id="codeInput" placeholder="인증코드를 입력하세요."
                                                              style="visibility: hidden"
                                                              type="text"/>
                        <button id="emailSendingBtn" onclick="sendCodeToEmail()" style="visibility: hidden"
                                type="button">
                            인증코드전송
                        </button>
                    </td>
                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td><label for="password"></label><input id="password" maxlength="16" name="password"
                                                             placeholder="비밀번호를 입력하세요." required="required"
                                                             type="password"/></td>
                    <td><span>비밀번호는 최대 16자까지 가능합니다.</span>
                    </td>
                </tr>
                <tr>
                    <th>비밀번호확인</th>
                    <td><label for="pwConfirm"></label><input id="pwConfirm" maxlength="16" name="pwConfirm"
                                                              placeholder="비밀번호를 다시 입력하세요." required="required"
                                                              type="password"/></td>
                    <td id="pwNotCorresponding" style="visibility: hidden;">비밀번호가 일치하지 않습니다.</td>
                </tr>
                <tr>
                    <th>닉네임</th>
                    <td>
                        <label for="userNickname"></label><input id="userNickname" maxlength="10"
                                                                 name="userNickname" placeholder="닉네임을 입력하세요."
                                                                 required="required" type="text"/>
                    </td>
                    <td><span>닉네임은 최대 10자까지 가능합니다.</span></td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td><label for="userPhone"></label><input id="userPhone" maxlength="13" name="userPhone"
                                                              placeholder="전화번호를 입력하세요."
                                                              required="required"
                                                              type="tel"/></td>
                </tr>
                <tr>
                    <th>이메일 수신 동의</th>
                    <td>
                        <label for="emailCheckbox"></label><input id="emailCheckbox" type="checkbox"/> 정보/이벤트 메일 수신에 동의합니다.
                    </td>
                    <td><span>※ 주문 관련 정보, 주요 공지사항 및 이벤트 당첨 안내 등은 수신 동의 여부에 관계없이 자동 발송됩니다.</span></td>
                </tr>
            </table>
        </fieldset>
        <div>
            <button id="joinBtn" onclick="validCheck(form)" title="회원가입" type="button">회원가입</button>
            <button id="cancelBtn" onclick="location.href='/'" title="취소하기">취소하기</button>
        </div>
    </form>
</div>
</body>
</html>
<script defer src="/js/userJoin.js" type="text/javascript"></script>
