<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: common_header(~{::link})}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/userLoginForm.css" rel="stylesheet"/>
</head>
<style th:replace="~{fragment/header :: bodyinit}"></style>
<body>
<div align="center">
    <header th:replace="~{fragment/header :: header}"></header>
    <nav th:replace="~{fragment/header :: nav}"></nav>
    <div class="loginFormContainer">

        <p th:text="${#authentication.name}"></p>

        <div id="normalLoginDiv">
            <form action="/userLogin" id="userLoginForm" method="post">
                <strong>기존 회원 로그인</strong>
                <br>
                <div>이메일</div>
                <label for="username"></label><input id="username" name="username" required type="text"/>
                <br>
                <div>비밀번호</div>
                <label for="password"></label><input id="password" name="password" required="required" type="password"/>
                <br>
                <button id="loginBtn" onclick="doLogin(form)" type="button">로그인</button>
                <button id="toJoinBtn" onclick="location.href='/users/joinForm'" type="button">회원가입
                </button>
            </form>
        </div>

        <div id="snsLoginDiv">
            <button onclick='location.href="/oauth2/authorization/google"'>구글 로그인</button>
            <button onclick='location.href="/oauth2/authorization/naver"'>네이버 로그인</button>
            <button onclick='location.href="/oauth2/authorization/kakao"'>카카오 로그인</button>
        </div>

    </div>
</div>
</body>
</html>
<script defer src="/js/userLogin.js" type="text/javascript"></script>
