<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: common_header(~{::link})}">
    <meta charset="UTF-8">
    <title>더조은게임즈-마이페이지</title>
    <link href="/css/myPage.css" rel="stylesheet"/>
</head>
<style th:replace="~{fragment/header :: bodyinit}"></style>
<body>
<div align="center">
    <header th:replace="~{fragment/header :: header}"></header>
    <nav th:replace="~{fragment/header :: nav}"></nav>

    <div id="myPage">
        <h1 style="margin-left: 15px;">마이페이지</h1>
        <ul class="menu">
            <li onclick="location.href='/users/myPage'"><a><span>주문내역</span></a></li>
            <li class="activated" onclick="location.href='/users/userQuestion'"><a><span>문의내역</span></a></li>
            <li onclick="location.href='/users/userWishlist'"><a><span>위시리스트</span></a></li>
            <li onclick="location.href='/users/userUpdate'"><a><span>정보수정</span></a></li>
            <li onclick="location.href='/users/userResign'"><a><span>회원탈퇴</span></a></li>
        </ul>

        <div class="docs-section">
            <p class="text_msg"><strong>※ 더조은 게임즈 고객센터 운영시간: 월~목 10:00~17:00 (점심시간: 12:30~14:00) / 금 10:00~12:00 / 토,
                일,
                공휴일 휴무</strong></p>
            <p class="text_msg"><strong>※ 운영시간 외에 문의하신 사항은 홈페이지, 전화, 메일의 대응이 모두 불가하며, 영업일 기준 다음 운영시간에 순차적으로
                처리됩니다.</strong>
            </p>
            <p class="text_msg"><strong>※ 문의 사항의 내용과 고객센터 사정에 따라 응답이 다소 지연될 수 있습니다.</strong></p>
        </div>

        <!-- 내 문의들 -->
        <h1><strong>문의내역</strong></h1>
        <div th:each="list : ${qnaList}">
            <table id="question_table">
                <tr class="question">
                    <th class="num">번호</th>
                    <th class="type">구분</th>
                    <th class="content">제목</th>
                    <th class="date">작성일자</th>
                </tr>
                <tr class="question">
                    <td class="num" th:text="${list.qnaId}"></td>
                    <td class="type">기타</td>
                    <td class="content" th:text="${list.qnaTitle}"></td>
                    <td class="date" th:text="${list.localDateTime}"></td>
                </tr>
                <tr>
                    <th>문의내용</th>
                    <td colspan="3" th:text="${list.qnaContent}"></td>
                </tr>
                <tr>
                    <th>
                        <span th:if="${!list.qnaIsAnswered}">답변대기중</span>
                        <span th:if="${list.qnaIsAnswered}">답변됨</span>
                    </th>
                    <td colspan="3" th:text="${list.qnaAnwerContent}"></td>
                </tr>
                <tr id="idForBottomMargin"></tr>
            </table>
        </div>
        <div id="temporary_blank_space"></div>
    </div>
</div>
</body>

</html>
<script defer src="/js/myPage.js" type="text/javascript"></script>